<!DOCTYPE html>
<html>
<head>
	<title>Argumentify</title>
</head>
<body ng-app="appArg">
	<!-- this div above all the app -->
<div ng-controller="topicController">
	<input ng-model="user" type="text" name="user">
	<input ng-model="title" type="text" name="title">
	<input ng-model="text" type="text" name="text">
	<button ng-click="send(); clear();"> Send </button>
	<hr>
	
	<div>
		<div ng-repeat="topic in topics.list">
		titulo: {{topic.user}}
		usuario: {{topic.title}}
		mensaje: {{topic.text}}
	    </div>
	</div>
</div>

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript"> 

angular.module("appArg",[])
angular.module("appArg").controller("topicController",["$scope","topics",topicCtrl]);
angular.module("appArg").service("topics",[topicService])

function topicCtrl($scope,topics){
	$scope.topics = topics;
	$scope.send = function (){
		const topic = {user: $scope.user,
					   title: $scope.title,
					   text: $scope.text };
		topics.add(topic);
	}
	$scope.clear = function(){
		$scope.user = "";
		$scope.title = "";
		$scope.text = "";

	}
}

function topicService(){
	const topic = { list: [],
					add};
	return topic;

	function add(item){
		topic.list.push(item);
	}
}

</script>
</body>
</html>